body {
    background-image: 'space-background.jpeg' ;
    background-size: cover;
}

.first-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
   
    margin: 100px 0;
}

.enter-button { 
    border: none;
    background-color: inherit;
    color: rgb(164, 164, 164) 
    cursor: pointer;
    font-size: 32px;
}

.enter-button:hover {color: rgb(234, 234, 234);}

.quote-textdiv{
 display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
.quotes-text { 
    border: none;
    background-color: inherit;
    color: #eee
}